<a href="https://colab.research.google.com/github/rajasekhara-rb/python-basics/blob/main/Python_basics_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Sytax of Python

In [ ]:
print("Hello World")

Hello World

## Comments

In [ ]:
# This is a single line comment
print("Hello")

Hello

In [ ]:
# this is a
# multiline
#comment
print('multiline comment')

multiline comment

In [ ]:
"""
This is also a
multi line
comment written,
which the program will ignore while execution
"""
print("comments")

comments

## Python Variables

In [ ]:
x = 5 # int
y = 'Reddy' # str
z = 5.5 # float

In [ ]:
print(x)
print(y)
print(z)

5
Reddy
5.5

In [ ]:
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
# type casting

print(int(5))
print(str(5))
print(float(5))

5
5
5.0

In [ ]:
# assigning multiple var
a , b, c = 1, 10, 55
print(a, b, c)

1 10 55

## Python Data Types

Python has the following data types built-in by default, in these categories:

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

### Text Type

#### Str Data Type

In [ ]:
# string str
x = "This is a string"
type(x)

str

In [ ]:
# string setting
x = str("Hello")
print(x)
type(x)

Hello

str

### Numeric Type

#### int Data Type

In [ ]:
# number int
x = 5
type(x)

int

In [ ]:
# setting
x = int(50)
print(x)
type(x)

50

int

#### float Data Type

In [ ]:
# floating numbers or float
x = 5.6
type(x)

float

In [ ]:
# float setting
x = float(5.5)
print(x)
type(x)

5.5

float

#### Complex Data Type

In [ ]:
# complex
x = 1j
type(x)

complex

In [ ]:
# complex data type setting
x = complex(1j)
print(x)
type(x)

1j

complex

### Sequence Type

#### List

In [ ]:
# list
x = ["apple", "mango", "guva", "grapes"]
type(x)

list

In [ ]:
# list setting
x = list(("apple", "mango", "guva"))
print(x)
type(x)

['apple', 'mango', 'guva']

list

#### Tuple

In [ ]:
 # Tuple'
 x = ('apple', "mango", "cherry")
 type(x)

tuple

In [ ]:
# tuple setting
x = tuple(("apple", "mango", "cherry"))
print(x)
type(x)

('apple', 'mango', 'cherry')

tuple

#### Range

In [ ]:
# range
x = range(0,6)
type(x)

range

### Mapping Type

dict

In [ ]:
# dict
x = {"name":"Jhon", "age":24}
type(x)

dict

In [ ]:
# dict setting
x = dict(name="Jhon", age=25)
print(x)
type(x)

{'name': 'Jhon', 'age': 25}

dict

### Set Types

#### Set

In [ ]:
#set
x = {"apple", "bat", "cat", "rat"}
type(x)

set

In [ ]:
# set setting
x = set(("apple", "apple", "bat", "cat"))
print(x)
type(x)

{'apple', 'bat', 'cat'}

set

#### frozenset

In [ ]:
# frozenset
x = frozenset({"apple", "bat", "cat", "rat"})
type(x)

frozenset

In [ ]:
# frozenset setting
x = frozenset(("apple", "apple", "bat", "cat"))
print(x)
type(x)

frozenset({'apple', 'bat', 'cat'})

frozenset

### Boolean Type

#### bool

In [ ]:
# bool
x = True
type(x)

bool

In [ ]:
# bool setting
x = bool(5);
print(x)
type(x)

True

bool

### Binary Types

#### Bytes

In [ ]:
# bytes
x = b'hello'
type(x)

bytes

In [ ]:
# bytes setting
x = bytes(5)
print(x)
type(x)

b'\x00\x00\x00\x00\x00'

bytes

#### Bytearray

In [ ]:
# bytearray
x = bytearray(5)
print(x)
type(x)

bytearray(b'\x00\x00\x00\x00\x00')

bytearray

#### memoryview

In [ ]:
# memory view
x = memoryview(bytes(5))
print(x)
type(x)

<memory at 0x7ae537e29780>

memoryview

### None Type

In [ ]:
# noneType
x = None
print(x)
type(x)

None

NoneType

## Type Converstion

In [ ]:
x = 1 # int
y = 2.5 # float
z = 1j #complex

print(x,type(x), y, type(y), z, type(z))

1 <class 'int'> 2.5 <class 'float'> 1j <class 'complex'>

In [ ]:
# int to float
a = float(x)
print(a, type(a))

1.0 <class 'float'>

In [ ]:
# float to int
b = int(y)
print(b, type(b))

2 <class 'int'>

In [ ]:
# int to complex
c = complex(x)
print(c, type(c))

(1+0j) <class 'complex'>

## Python Casting

In [ ]:
# int
x = int(1)
y = int(2.5)
z = int("25")

print(x)
print(y)
print(z)

1
2
25

In [ ]:
# floats
x = float(1)
y = float(2.5)
z = float('2.5')

print(x)
print(y)
print(z)

1.0
2.5
2.5

In [ ]:
# strings
x = str('string')
y = str(25)
z = str(2.5)

print(x)
print(y)
print(z)

string
25
2.5

## Python Strings

In [ ]:
# string
print('this is a string')

this is a string

In [ ]:
#Quotes Inside Quotes
print("this is 'very' powerful")

this is 'very' powerful

In [ ]:
#Assign String to a Variable
x = "Hi"
print(x)

Hi

In [ ]:
# multiline strings
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# character at postion
x = "hello world"
print(x[1])

e

In [ ]:
# looping though a string
for a in x:
  print(a)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# string length
x = "Rajasekhara Reddy"
print(len(x))

17

In [ ]:
# check string
# checking if Python is present in the string
txt = "The best thing is Python is free to use"
print("Python" in txt)

True

In [ ]:
# using if with in to check
if "Python" in txt:
  print("Yes Python is free")

Yes Python is free

In [ ]:
# check if python is not in txt
txt = "Python is for free"
"expensive" not in txt

True

In [ ]:
# Using if with not in
if "expensive" not in txt:
  print("Expensive is not present in txt")

Expensive is not present in txt

### Slicing strings

In [ ]:
#Slicing
#Get the characters from position 2 to position 5 (not included):
a = "Hello World!"
print(a[2:5])

llo

In [ ]:
#Slice From the Start
print(a[:5])

Hello

In [ ]:
# Slice to the end
print(a[2:])

llo World!

In [ ]:
# negative indexing
print(a[-5:-2])

orl

### Modify Strings

In [ ]:
# Upper case
x = "Hello World! "
print(x.upper())

HELLO WORLD!

In [ ]:
# Lower case
print(x.lower())

hello world!

In [ ]:
# remove white spaces
print(x.strip())

Hello World!

In [ ]:
# Replace the string
print(x.replace('H', "F"))

Fello World!

In [ ]:
# Split string
x = "Hellow, World!"
print(x.split(','))

['Hellow', ' World!']

### String Concatenation

In [ ]:
#String Concatenation
a = "Hello"
b = "World!"
print(a + " " + b)

Hello World!

### Format Strings

In [ ]:
# We cannot add strings and numbers like this
age = 25
txt = "My age is "+ age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# We can add using F-strings
txt = f"My age is {age}" # age is a place holder
print(txt)

My age is 25

In [ ]:
price = 56
txt = f"The price is {price} dollars"
print(txt)

The price is 56 dollars

In [ ]:
# Displaying price in 2 decimals Using point decimals .2f in f-strings
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 56.00 dollars

### Escape Characters

In [ ]:
# escape char
txt = "This is very "powerful" thing" # this is an error
print(txt)

SyntaxError: invalid syntax (<ipython-input-45-ba6da9e73412>, line 2)

In [ ]:
txt = "This is very  \"powerful\" thing."
print(txt)

This is very  "powerful" thing.

## Python Booleans

In [ ]:
#  Boolean values
print(10 > 9)
print(10 < 9)

True
False

In [ ]:
# almost all values and variables are true
print(bool("Hello"))
print(bool(5))
print(bool(2.5))
print(bool(["apple","bananna", "cherry"]))
print(bool({"name":"xyz", age:50}))
print(bool(("apple", "bananna")))

True
True
True
True
True
True

In [ ]:
# empty ones are false
print(bool(""))
print(bool(0))
print(bool(0.0))
print(bool({}))
print(bool(()))
print(bool([]))

False
False
False
False
False
False

## Python operators

### Arithmetic Operators

In [ ]:
#Arithmetic Operators
x = 15
y = 2
# +	Addition	x + y
print(x + y)
# -	Subtraction	x - y
print(x - y)
# *	Multiplication	x * y
print(x * y)
# /	Division	x / y
print(x / y)
# %	Modulus	x % y
print(x % y)
# **	Exponentiation	x ** y
print(x ** y)
# //	Floor division x // y
print(x // y)

17
13
30
7.5
1
225
7

### Assignment Operators

In [ ]:
# operator          eg.       same as
#     =	        x = 5	          x = 5
x = 5
#     +=	      x += 3	        x = x + 3
x += 3
print(x)
#     -=	      x -= 3	        x = x - 3
x -= 3
print(x)
#     *=	      x *= 3	        x = x * 3
x *= 3
print(x)
#     /=	      x /= 3	        x = x / 3
x /= 3
print(x)
#     %=	      x %= 3	        x = x % 3
#     //=	      x //= 3       	x = x // 3
#     **=	      x **= 3       	x = x ** 3
#     &=	      x &= 3	        x = x & 3
#     |=	      x |= 3	        x = x | 3
#     ^=	      x ^= 3	        x = x ^ 3
#     >>=	      x >>= 3       	x = x >> 3
#     <<=	      x <<= 3       	x = x << 3
#     :=	      print(x := 3)	  x = 3
#                                 print(x)

8
5
15
5.0

### Comparison Operators

In [ ]:
x = 5
y = 10
# ==	  Equal	x == y
print(x == y)
# !=	  Not equal	x != y
print(x != y)
# >	    Greater than	x > y
print(x > y)
# <	    Less than	x < y
print(x < y)
# >=	  Greater than or equal to	x >= y
print(x >= y)
# <=	  Less than or equal to	x <= y
print(x <= y)

False
True
False
True
False
True

###Logical Operators

In [ ]:
# and
print(True and True)
print(True and False)
print(5<10 and 11 > 10)

True
False
True

In [ ]:
# or
print(True or False)
print(5 < 10 or 10 < 5)

True
True

In [ ]:
# not
print(not(True))

False

### Identity Operators

In [ ]:
# is
x = 10
y = 5
print(x is y)

False

In [ ]:
# is not
print(x is not y)

True

### Membership Operators

In [ ]:
# in
x = ['apple', 'bananna']
print('apple' in x)

True

In [ ]:
# not in
print('cherry' not in x)

True

### Bitwise Operators

In [ ]:
# & 	AND	Sets each bit to 1 if both bits are 1	x & y
# |	OR	Sets each bit to 1 if one of two bits is 1	x | y
# ^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
# ~	NOT	Inverts all the bits	~x
# <<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
# >>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

## Python Lists

In [ ]:
# list
myList = ['apple', 'bananna', 'cherry']
print(myList)

['apple', 'bananna', 'cherry']

In [ ]:
# length of the list
print(len(myList))

3

In [ ]:
# Data type of list
print(type(myList))

<class 'list'>

In [ ]:
# The list constructor
list1 = list(('apple', "bananna", "123", True, 2.5, 2005 ))
print(list1)

['apple', 'bananna', '123', True, 2.5, 2005]

### Access the item

In [ ]:
# Access items from the list
print(myList[0])
print(myList[1])
# negative indexing
print(myList[-1]) # negative index is from right to left

apple
bananna
cherry

In [ ]:
# Range of indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5]) # index 2 to 4, 5 not included
print(thislist[:5]) # begining to 4, 5 not included
print(thislist[5:]) # index 5 to last

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange', 'kiwi']
['melon', 'mango']

In [ ]:
# check if exist in the list
'apple' in thislist

True

### Change the items in list

In [ ]:
# change 2 index item
thislist = ['apple', 'bananna', 'cherry', "orange", 'kiwi', 'mango' ]
print(thislist)
thislist[2] = "berry"
print(thislist)

['apple', 'bananna', 'cherry', 'orange', 'kiwi', 'mango']
['apple', 'bananna', 'berry', 'orange', 'kiwi', 'mango']

In [ ]:
# change the range of items
print(thislist)
thislist[2:5] = ['cherry', 'watermelon', 'guva']
print(thislist)

['apple', 'bananna', 'berry', 'orange', 'kiwi', 'mango']
['apple', 'bananna', 'cherry', 'watermelon', 'guva', 'mango']

In [ ]:
# insert items
thislist = ['apple', 'bananna', 'cherry']
print(thislist)
thislist.insert(2,'watermelon')
print(thislist)

['apple', 'bananna', 'cherry']
['apple', 'bananna', 'watermelon', 'cherry']

### Add list items

In [ ]:
# add items
print(thislist)
thislist.append('orange')
print(thislist)

['apple', 'bananna', 'watermelon', 'cherry']
['apple', 'bananna', 'watermelon', 'cherry', 'orange']

In [ ]:
# extend the list
list1 = ['apple', 'bananna']
list2 = ['cherry', 'berry']
print(list1)
list1.extend(list2)
print(list1)
print(list2)

['apple', 'bananna']
['apple', 'bananna', 'cherry', 'berry']
['cherry', 'berry']

### Remove list item

In [ ]:
# remove specified item using remove
list1 = ['apple', 'bananna', "cherry", 'bananna']
list1.remove('bananna')
print(list1)

['apple', 'cherry', 'bananna']

In [ ]:
# remove specified index using pop
list1.pop(1)
print(list1)

['apple', 'bananna']

In [ ]:
# remove the last item
list1.pop()
print(list1)

['apple']

In [ ]:
# del keyword also removes
list1 = ['apple', 'bananna', "cherry", 'bananna']
del list1[0]
print(list1)

['bananna', 'cherry', 'bananna']

In [ ]:
# clear method clears the list but keeps empty list
list1 = ['apple', 'bananna', "cherry", 'bananna']
list1.clear()
print(list1)

[]

In [ ]:
# del the entire list
list1 = ['apple', 'bananna', "cherry", 'bananna']
del list1

### Loop List

In [ ]:
# looping through a list
list1 = ['apple', 'bananna', "cherry", 'bananna']
for x in list1:
  print(x)

apple
bananna
cherry
bananna

In [ ]:
# looping through the index of the lsit
for i in range(len(list1)):
  print(list1[i])

apple
bananna
cherry
bananna

In [ ]:
# while loop in the list
i = 0
while i < len(list1):
  print(list1[i])
  i = i + 1

apple
bananna
cherry
bananna

In [ ]:
# Looping using list comprehension
list1 = ['apple', 'bananna', 'cherry']
[print(x) for x in list1]

apple
bananna
cherry

[None, None, None]

### List Comprehension

In [ ]:
# general
# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [] # want a new list if a is present in it

for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
# with list comprehesion
newlist2 = [x for x in fruits if "a" in x] # done the above code in single line
print(newlist2)

['apple', 'banana', 'mango']

In [ ]:
# using range
newlist3 = [x for x in range(100) if x < 25]
print(newlist3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [ ]:
# setting all the items in the list to upper case
newlist4 = [x.upper() for x in fruits]
print(newlist4)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

### Sort List

In [ ]:
# sorting alphabatically ascending order
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list1.sort()
print(list1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
# sorting in descending order
list1.sort(reverse=True)
print(list1)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
# sorting numerically
list1 = [100, 50, 65, 82, 23]
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [ ]:
# case sensitive sorting
list1 = ['apple', 'Bananna', "cherry", "Guava"]
list1.sort() # starting with capitals comes first
print(list1)

['Bananna', 'Guava', 'apple', 'cherry']

In [ ]:
# case insensitive sorting
list1.sort(key=str.lower) # gives sorting irrespective of the first letter case
print(list1)

['apple', 'Bananna', 'cherry', 'Guava']

In [ ]:
# Reerse order of list
list1.reverse()
print(list1)

['Guava', 'cherry', 'Bananna', 'apple']

In [ ]:
# Customized sorting
# sort based on how close the number is to 50
list1 = [100, 50, 65, 82, 23, 69]

def myfun(n):
  return abs(n -50)

list1.sort(key = myfun)
print(list1)

[50, 65, 69, 23, 82, 100]

### Copy a List

In [ ]:
# copy a list using built in method copy
list1 = ['apple', 'bananna', 'cherry']
# list2 = list1  this is just a referece changing values in list1 chages in list2 also
list2 = list1.copy()
print(list2)

['apple', 'bananna', 'cherry']

In [ ]:
# copyin using list
list2 = list(list1)
print(list2)

['apple', 'bananna', 'cherry']

### Join Lists

In [ ]:
# jointin[g lists
list1 = ['a', 'b', 'c', 'd']
list2 = [1, 2,3, 4, 5]

list3 = list1 + list2 # one method
print(list3)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

In [ ]:
# using append
for x in list2:
  list1.append(x) # using append
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

In [ ]:
# using extend
list1 = ['a', 'b', 'c', 'd']
list2 = [1, 2,3, 4, 5]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 1, 2, 3, 4, 5]

## Python Tuple

In [ ]:
# tuples
tp1 = ("apple", "bananna", "cherry")
print(type(tp1))

<class 'tuple'>

In [ ]:
tp2 = ("apple") # not a tuple if one item
print(type(tp2))

tp3 = ('apple',) # creating a tuple with one item => "," comma
print(type(tp3))

<class 'str'>
<class 'tuple'>

In [ ]:
# tuple constructor
tp1 = tuple(("apple", "bananna"))
print(tp1, type(tp1))

('apple', 'bananna') <class 'tuple'>

In [ ]:
# tuple length
print(len(tp1))

2

### Access Tuple

In [ ]:
# accessing tuple items
tp1 =("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tp1[0])

apple

In [ ]:
# negative indexing
print(tp1[-1])

mango

In [ ]:
# range of items
print(tp1[2:6]) # positive
print(tp1[-4: -1]) # range of negative indexes

('cherry', 'orange', 'kiwi', 'melon')
('orange', 'kiwi', 'melon')

In [ ]:
print(tp1[:5]) # starting to 4 , excluding 5
print(tp1[5:]) # starting form 5 to last

('apple', 'banana', 'cherry', 'orange', 'kiwi')
('melon', 'mango')

In [ ]:
# check if item exitst
'apple' in tp1

True

### Update Tuples

In [ ]:
# tuples are immutable or unchangable once created
# to change need to convert tuples to lists and change back
x = ("apple", "bananna", "cherry")
y = list(x) # converted tuple to list
y[1] = "kiwi" # changed the value of index 1
x = tuple(y) # converted list back to tuple
print(x) # printed

('apple', 'kiwi', 'cherry')

In [ ]:
# add titems to a tuple
x = ('apple', 'bananna', 'cherry')
y = list(x)  # converted to list
y.append("orange") # appended item to list
x = tuple(y) # converted back to tuple
print(x)

('apple', 'bananna', 'cherry', 'orange')

In [ ]:
# adding tuple to a tuple
y = ('guva',)
z = x +y
print(z)

('apple', 'bananna', 'orange', 'guva')

In [ ]:
# Removing item form tuple
y = list(x)
y.remove("cherry")
x = tuple(y)
print(x)

('apple', 'bananna', 'orange')

In [ ]:
# delete tuple
x = ('apple', 'bananna', 'cherry')
del x

### Unpacking Tuples

In [ ]:
# packing a typle
tpl = ('apple', "bananna", 'cherry')
print(tpl)

('apple', 'bananna', 'cherry')

In [ ]:
# unpacking tuple
(red, green, yellow)  = tpl
print(red)
print(green)
print(yellow)

apple
bananna
cherry

In [ ]:
# if no. of var is less than values use astrick *
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(a, b, *c) = fruits
print(a)
print(b)
print(c)

apple
banana
['cherry', 'strawberry', 'raspberry']

### Loop Tuples

In [ ]:
# looping the tuple
tpl = ('apple', 'bananna', 'cherry')
for x in tpl:
  print(x)

apple
bananna
cherry

In [ ]:
# loop through the indexes
for i in range(len(tpl)):
  print(tpl[i])

apple
bananna
cherry
apple
bananna
cherry

In [ ]:
# using a while loop
i = 0
while i < len(tpl):
  print(tpl[i])
  i += 1

apple
bananna
cherry

### Join Tuples

In [ ]:
# joining tuples
tpl1 = ('a', 'b', 'c')
tpl2 = (1, 2, 3)

tpl3 = tpl1 + tpl2
print(tpl3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
# multiply tuples
fruits = ('apple', 'bananna', 'cherry')
tpl = fruits * 2
print(tpl)

('apple', 'bananna', 'cherry', 'apple', 'bananna', 'cherry')

## Python Sets

In [ ]:
# set , set items are unordered and unchangable
# duplicates are not allowed
myset = {'apple', 'bananna', 'cherry', 'apple'}
print(myset)

{'bananna', 'apple', 'cherry'}

In [ ]:
# True and 1 considered same values in set
set1 = {True, 1, False, 0}
print(set1)

{False, True}

In [ ]:
# length of a set
print(len(myset))
print(type(myset))

3
<class 'set'>

In [ ]:
# the set constructor
myset = set(('apple', 'bananna'))
print(myset)

{'bananna', 'apple'}

### Access set items

In [ ]:
# cannot access set items by index but can loop using for loop
myset = {'apple', 'bananna', 'cherry'}

for x in myset:
  print(x)

bananna
apple
cherry

In [ ]:
# check if bananna present
print('bananna' in myset)

True

In [ ]:
print('bananna' not in myset)

False

### Adding set items

In [ ]:
# to add items to a set use add method
set1 = {'apple', 'bananna', 'cherry'}
print(set1)
set1.add("orange")
print(set1)

{'bananna', 'apple', 'cherry'}
{'bananna', 'orange', 'apple', 'cherry'}

In [ ]:
# add two sets
set2 = {'mango', 'guva'}
set1.update(set2)
print(set1)

{'mango', 'apple', 'cherry', 'bananna', 'guva', 'orange'}

In [ ]:
# add elemets of the list to a set
lst = ['bat', 'cat', 'rat' ]
set1.update(lst)
print(set1)

{'mango', 'apple', 'bananna', 'guva', 'orange', 'cat', 'cherry', 'bat', 'rat'}

### Remove items from set

In [ ]:
# remove items using remove
set1 = {"apple", "banana", "cherry"}
set1.remove('banana') # if item to remove does not exits it raise error
print(set1)

{'apple', 'cherry'}

In [ ]:
# remove items using discard
set1 = {"apple", "banana", "cherry"}
set1.discard('banana') # if item to remove does not exits discard does not raise error
print(set1)

{'apple', 'cherry'}

In [ ]:
# remove a random item
set1 = {"apple", "banana", "cherry"}
set1.pop() # dont know which item gets removed / random item removed
print(set1)

{'apple', 'cherry'}

In [ ]:
#  clear set
set1 = {"apple", "banana", "cherry"}
set1.clear()
print(set1)

set()

In [ ]:
# delete the set completely
del set1
print(set1)

NameError: name 'set1' is not defined

### Loop Sets

In [ ]:
# looping through the set items
set1 = {"apple", "banana", "cherry"}

for x in set1:
  print(x)

banana
apple
cherry

### Join sets

In [ ]:
# Joining sets
# The union() and update() methods joins all items from both sets.
# The intersection() method keeps ONLY the duplicates.
# The difference() method keeps the items from the first set that are not in the other set(s).
# The symmetric_difference() method keeps all items EXCEPT the duplicates.

#### UNION

In [ ]:
# UNION
set1 = {'a', 'b', 'c', 'd'}
set2 = {1, 2, 3, 4}
set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 4, 'c', 'd', 'b'}

In [ ]:
# using the | operator gives the same result as union but can join only sets with sets
set3 = set1 | set2
print(set3)

{1, 'a', 2, 3, 4, 'c', 'd', 'b'}

In [ ]:
# Joining multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set5 = set1.union(set2, set3, set4)
print(set5)

{1, 'a', 2, 3, 'cherry', 'c', 'John', 'b', 'apple', 'Elena', 'bananas'}

In [ ]:
# joining multiple sets uisng | operator
set5 = set1 | set2 | set3 | set4
print(set5)

{1, 'a', 2, 3, 'cherry', 'c', 'John', 'b', 'apple', 'Elena', 'bananas'}

In [ ]:
# Join set and a tuple
x = {'a', 'b', 'c'}
y = (1, 3, 4)
z = x.union(y) # joining a set with tuple. Not possible with | operator
print(z)

{1, 'a', 3, 4, 'c', 'b'}

In [ ]:
# Update
# update changes the original set does not return new set
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 'b', 2, 3, 'c'}

#### Intersection

In [ ]:
# Intersection keeps only duplicates
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [ ]:
# using & operatior instead of intersection gives same result
set3 = set1 & set2 # allows only to join sets with sets
print(set3)

{'apple'}

In [ ]:
# intersection_update keeps only duplicates but does not return new, changes the existing one
set1.intersection_update(set2)
print(set1)

{'apple'}

In [ ]:
#Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

#### Difference

In [ ]:
# Difference keeps all items from set1 that are not in set2
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [ ]:
# can use - operator instead of difference
set3 = set1 - set2 # can only join sets with sets not with other
print(set3)

{'banana', 'cherry'}

In [ ]:
# difference_update keeps all that are not in both sets
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

#### Symmetiric difference

In [ ]:
# keeps the items that are not present in both
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [ ]:
# Can use ^ to join symmetirc_difference
set3 = set1 ^ set2 # allows to join only sets with sets
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [ ]:
# symmetric_difference_update keeps the items not presentn in both sets but not return as new
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'banana', 'cherry', 'microsoft', 'google'}

## Python Dictionaries

In [ ]:
# dictionaries are used to store data in key : value pairs
# dictionaries are changable, we can add, remove, delete items
# duplicates of key values not allowed
dict1 = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
# print brand of dict1
print(dict1['brand'])

Ford

In [ ]:
# dict length
print(len(dict1))
print(type(dict1))

3
<class 'dict'>

In [ ]:
# dict constructor
dict1 = dict(name='Jhon', age=54, town='vizag')
print(dict1)

{'name': 'Jhon', 'age': 54, 'town': 'vizag'}

### Access Items

In [ ]:
# accessing items form dict
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#get the value of model key
print(dict1['model'])

Mustang

In [ ]:
# other way to get value of a key using get()
print(dict1.get('model'))

Mustang

In [ ]:
# get keys - gives list of all keys
x = dict1.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
dict1['color'] = "white"
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [ ]:
# get values as a list
x = dict1.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [ ]:
# Get items gives each item in as a tuple in a list
x = dict1.items();
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [ ]:
# check if key exists
print("model" in dict1)

True

### Change Items

In [ ]:
# changing items of dict
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(car["year"])

1964

In [ ]:
# Update dict
# can change with referring to the key
car.update({"year": 2000})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

### Add items

In [ ]:
# add items using update
car['color'] = 'white'
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000, 'color': 'white'}

In [ ]:
# using update
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color":"Yellow"})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Yellow'}

### Remove Items

In [ ]:
# Pop used to remove item with specified key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [ ]:
# popitem used to remove last inserted item
car['color'] = 'red'
print(car)
car.popitem()
print(car)

{'brand': 'Ford', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'year': 1964}

In [ ]:
# del key word removes specified one
del car["year"]
print(car)

{'brand': 'Ford'}

In [ ]:
# clear method empties dict
car.clear();
print(car)

{}

In [ ]:
# del dict completely
del car
print(car)

NameError: name 'car' is not defined

### Loop Dictionaries

In [ ]:
# Looping through a dict using for loop
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color": "White"
}

In [ ]:
# print all key names in dict
for x in car:
  print(x)

brand
model
year

In [ ]:
for x in car.keys():
  print(x)

brand
model
year

In [ ]:
# print all values in dict
for x in car:
  print(car[x])

Ford
Mustang
1964

In [ ]:
for x in car.values():
  print(x)

Ford
Mustang
1964

In [ ]:
# loop through both keys and values using items
for x, y in car.items():
  print(x, y)

brand Ford
model Mustang
year 1964

### Copy Dictionaries

In [ ]:
# Copy of dictionary usig copy method
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "color": "White"
}

vehicle = car.copy()
print(vehicle)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

In [ ]:
# another way using dict method
vehi = dict(car)
print(vehi)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

### Nested dictionaries

In [ ]:
# Nested dictionary
# dict with three dict's
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
# can create a dict to store three dict's
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# Access items in nested dict
# print the name of child 2
print(myfamily['child2']['name'])

Tobias

In [ ]:
#Loop through nested dict's
for x, obj in myfamily.items():
  print(x)
  for y in obj:
    print(y, " : ", obj[y])

child1
name  :  Emil
year  :  2004
child2
name  :  Tobias
year  :  2007
child3
name  :  Linus
year  :  2011

## Python If Else

In [ ]:
# if
a = 10
b = 25

if a < b:
  print("a is less than b")

a is less than b

In [ ]:
# elif
a = 10
b = 10

if b > a :
  print('b is greater than a')
elif b == a:
  print("a is equals to b")

a is equals to b

In [ ]:
# else
a = 100
b = 200
if a > b :
  print('a > b')
elif a == b:
  print('a = b')
else:
  print('a < b')

a < b

In [ ]:
# short hand if else
a = 2
b = 10

print("A") if a > b else print("B")

B

In [ ]:
# and or not
a = 100
b = 50
c = 200

# and

if a > b and b < c:
  print("Both are true")

Both are true

In [ ]:
# or
if a > b or a > c:
  print("One is true")

One is true

In [ ]:
# not
if not a < b :
  print('a is not lessthan b ')

a is not lessthan b

In [ ]:
# nested if
x = 34

if x > 10:
  print("Above 10")
  if x > 20:
    print("Above 20")
  else:
    print("not above 20")

Above 10
Above 20

In [ ]:
# pass
x = 10;
if x > 10:
  pass # if no content to put in if use pass

In [ ]:
# program for traffic
lgt = "green";

if lgt == "red":
  print("RED SIGN : Stop")
elif lgt == "orange":
  print("ORANGE SIGN : Slow Down")
elif lgt == "green" :
  print("GREEN SIGN : Proceed")
else :
  print("NO SIGN : Follow traffic rules and proceed")

GREEN SIGN : Proceed

## Python While Loop

In [ ]:
# simple while loop
i = 1
while i < 9:
  print(i)
  i = i +1 # if i value not incremented loop will fall into infinite

1
2
3
4
5
6
7
8

In [ ]:
# break statement
# break the loop when i is 3

i = 1
while i < 9:
  print(i)
  if i == 3:
    break    # breaks the statement when conditon is true
  i += 1

1
2
3

In [ ]:
# continue statement

i = 0
while i < 9:
  i += 1
  if i == 3:
    continue  # skips current iteration and
  print(i)

1
2
4
5
6
7
8
9

In [ ]:
# else statement
i = 0
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

0
1
2
3
4
5
i is no longer less than 6

## Python For Loops

In [ ]:
# for loop over a list
fruits = ['apple', 'bananna', 'cherry']

for x in fruits:
  print(x)

apple
bananna
cherry

In [ ]:
# loop through a string
for x in "bananna":
  print(x)

b
a
n
a
n
n
a

In [ ]:
# the break statement
for x in fruits:
  print(x)
  if x == "bananna": # stops with bananna
    break
  # print(x) breaks before printing bananna

apple
apple
bananna

In [ ]:
# continue
for x in fruits:
  if x == "bananna":
    continue # does not print bananna
  print(x)

apple
cherry

In [ ]:
# range func
for x in range(6): # vlaues from 0 - 5
  print(x)

0
1
2
3
4
5

In [ ]:
# range with start parameter
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
# incriment with sequence with 3
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
# else in for loop
for x in range(6):
  print(x)
else:
  print("range is over")

0
1
2
3
4
5
range is over

In [ ]:
# else will not executed if stopped by a break
for x in range(6):
  print(x)
  if x == 3: break
else:
  print("Finished")

0
1
2
3

In [ ]:
# Nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# pass
for x in [0,1,2]:
  pass

## Python Functions

In [ ]:
# Python function
def myfunction():
  print("This is the sample function")

In [ ]:
# calling the function
myfunction()

This is the sample function

In [ ]:
# arguments  or args
def myfun(name):
  print('Hi ', name, " How are you?")

In [ ]:
myfun('Reddy')
myfun("Rajasekahra")

Hi  Reddy  How are you?
Hi  Rajasekahra  How are you?

In [ ]:
# multiple args
def myfun(name, age, email):
  print("Name : ", name)
  print("Age : ", age)
  print("Email : ", email)

In [ ]:
myfun('Reddy', 25, 'reddy@gmail.com' )

Name :  Reddy
Age :  25
Email :  reddy@gmail.com

In [ ]:
# arbitary arguments
def myfun(*args):
  for i in args:
    print(i)

In [ ]:
myfun('apple', 'bananna', 'cherry')

apple
bananna
cherry

In [ ]:
#keyword args
def myfun(name, age):
  print(name, age)

In [ ]:
myfun(name='Reddy', age=25)

Reddy 25

In [ ]:
#multiple keyward args
def myfun(**kwargs):
  for i in kwargs.keys():
    print(kwargs[i])

In [ ]:
myfun(name="Reddy", age=25, email='reddy@gmail.com')

Reddy
25
reddy@gmail.com

In [ ]:
# default paramerter
def myfun(country="India"):
  print(country)

In [ ]:
myfun("USA")
myfun()

USA
India

In [ ]:
# passing list as an argument
def myfun(fruits):
  for i in fruits:
    print(i)

fruits = ['apple', 'bananna', 'cherry']
myfun(fruits)

apple
bananna
cherry

In [ ]:
# return values
def myfun(x, y):
  return x + y

In [ ]:
result = myfun(22, 78)
print(result)

100

In [ ]:
# pass statement
def myfun():
  pass

In [ ]:
# positional only arguments add ", /" after arguments,
# with this we cannot use keyward arguments
def myfun(x, /):
  print(x)

In [ ]:
myfun("postiton only args")

postiton only args

In [ ]:
myfun(x="postion only args can't use keywars") # this gives the error

TypeError: myfun() got some positional-only arguments passed as keyword arguments: 'x'

In [ ]:
# keyward only args using '*,' before args
# with this we cannot use postional args

def myfun(*, x):
  print(x)

In [ ]:
myfun("Keywards only args, cannot use postional") # this gives error

TypeError: myfun() takes 0 positional arguments but 1 was given

In [ ]:
myfun(x= "keyward only args")

keyward only args

In [ ]:
# combined postional and keyward only args.
def myfun(a, b, c, /,*,d,e,f): # args before "/" are postion only
  print(a+b+c+d+e+f)            # args after '*' are keyward only

In [ ]:
myfun(10, 15, 20, d=25, e=30, f=35)

135

In [ ]:
# Recursion
def tri(n):
  if(n > 0):
    result = n + tri(n - 1)
    print(result)
  else:
    result = 0
  return result

In [ ]:
tri(5)

1
3
6
10
15

15

## Python Lambda Function

In [ ]:
# Lambda Function
# small anonymous function used for short period of time
# takes n arguments but can have only one expression
# syntax lamda arguments : expression

x = lambda a : a * 2
print(x(5))

10

In [ ]:
# any no of args
x = lambda a, b , c : a + b + c
print(x(5,5,5))

15

In [ ]:
# using anonymous lambda inside another function
# function takes an arg and multiplie it with an unknown number

def myfun(n):
  return lambda a : a * n

mydoubler = myfun(2)
print(mydoubler(11))

# we can use the same fun for tripling also
mytripler = myfun(3)
print(mytripler(5))

22
15

## Python Classes and Objects

In [ ]:
# class is a constructor for creating blue prints for creating objects
# creating a calss
class MyClass:
    x = 5

In [ ]:
# creating object using class
p1 = MyClass()
print(p1.x)

5

In [ ]:
# the __init__ function, is build in funciton
# executes alwas when the class is initated
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Reddy", 25)
print(p1.name)
print(p1.age)

Reddy
25

In [ ]:
# the __str__ function
# function controls what should be writtend when the class object is represented as a string

# class object without str function
print(p1) # gives only memory address

<__main__.Person object at 0x7fd69a29f9d0>

In [2]:
# string representation object with str representation
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name} ({self.age})"

# object methods
  def myfun(self):
    # the self parameter is the reference to the current instance of class
    # it does not have to be named self , anything can be used
    print("Hello, my name is ", self.name)

In [3]:
p1 = Person("Reddy", 25)
print(p1)

Reddy (25)

In [4]:
# object methods
p1.myfun()

Hello, my name is  Reddy

In [5]:
# Modifiying object properties
p1.age = 18
print(p1)

Reddy (18)

In [6]:
# delete the object
del p1

In [8]:
# pass statement
class Person:
pass

IndentationError: expected an indented block after class definition on line 2 (<ipython-input-8-c974e2c18bf3>, line 3)

## Python Inheritance

In [11]:
# Inheritance allows to define a class that inherits the properties and methods from its parent
# parent or base class

class Person:
  def __init__(self, fname, lname):
    self.fname = fname
    self.lname = lname

  def printname(self):
    print(self.fname, self.lname)

x = Person("Rajasekhara", "Reddy")
x.printname()

Rajasekhara Reddy

In [16]:
# child or derived class
class Student(Person):
  pass # pass is used, when we dont want to add any props or methods

In [17]:
# using the student class to create an object
x = Student("Mike", "Joe")
x.printname()

Mike Joe

In [29]:
# adding __init__() to the Student class
class Student(Person):
  def __init__(self, fname, lname): # now it nolonger inherits parent init it overrides parent init
    # to keep the inheritance of the parent class add a call to parent init
    Person.__init__(self, fname, lname)

In [34]:
# use the super function
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    # add a property to the student class
    self.graduation_year = year

    # Adding methods to the student class
  def welcome(self):
    print("Welcome ", self.fname, self.lname, " to the class of ", self.graduation_year)

In [35]:
x = Student("Reddy", "Reddy", 2017)
x.printname()
print(x.graduation_year)

Reddy Reddy
2017

In [36]:
x.welcome()

Welcome  Reddy Reddy  to the class of  2017