<a href="https://colab.research.google.com/github/rajasekhara-rb/python-basics/blob/main/Python_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python code

In [ ]:
print('This is my first python ')

This is my first python

In [ ]:
# this is  a comment

In [ ]:
#Declaring data type in variable

# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
# A variable name cannot be any of the Python keywords.

a = 10

In [ ]:
print(a)

10

In [ ]:
type(a)

int

In [ ]:
b = 10.10

In [ ]:
b

10.1

In [ ]:
type(b)

float

In [ ]:
c = 'This is a string '

In [ ]:
type(c)

str

In [ ]:
d = True

In [ ]:
type(d)

bool

In [ ]:
x, y, z = 'Reddy', 6, 8

In [ ]:
x, y, z

('Reddy', 6, 8)

In [ ]:
# names cannot start with a? number
# names cannot use spaces
# no special char's
# PEP python enhancement praposal
# camelCase

In [ ]:
# List is ordered sequence of Objects

lt = [23, 41, 66, 78, 100]

In [ ]:
lt

[23, 41, 66, 78, 100]

In [ ]:
lt2 = [23.5, 12.2, 25.9, 6.6, True, 'Reddy']

In [ ]:
lt2

[23.5, 12.2, 25.9, 6.6, True, 'Reddy']

In [ ]:
lt3 = [1, 2.5, "Raj", lt, lt2]

In [ ]:
lt3

[1, 2.5, 'Raj', [23, 41, 66, 78, 100], [23.5, 12.2, 25.9, 6.6, True, 'Reddy']]

In [ ]:
lt3[2]

'Raj'

In [ ]:
lt3[3][2]

66

In [ ]:
# Dict
# unordered collection of key value pairs

dt = {"name":'Reddy',
      "age":24,
      "email": 'reddy@gmail.com',
      "location" : 'Sklm'}

In [ ]:
dt["name"]

'Reddy'

In [ ]:
# set
# ordered collection of unique data

st = {'reddy@gmail.com', 'reddy@gmail.com', 'reddy@yahoo.com', 'reddy@yahoo.com'}

In [ ]:
st

{'reddy@gmail.com', 'reddy@yahoo.com'}

In [ ]:
#Tuple

tp = ('some important things that does not change', 'AI', 'VR', 'ML')

In [ ]:
tp.index('AI')

1

In [ ]:
multilineString = """ This is a
multiline
string
written in 4 lines"""

In [ ]:
print(multilineString)

 This is a
multiline
string
written in 4 lines

In [ ]:
# Builtin methods of list

lst = ['Reddy', 24, 'Windows', 'Web dev']

In [ ]:
lst

['Reddy', 24, 'Windows', 'Web dev']

In [ ]:
lst.append("Raju")

In [ ]:
lst

['Reddy', 24, 'Windows', 'Web dev', 'Raju']

In [ ]:
lst.index("Raju")

4

In [ ]:
lst.pop() # removes last one in the list

'Raju'

In [ ]:
lst

['Reddy', 24, 'Windows', 'Web dev']

In [ ]:
lst.remove(24) # removes any data from the list

In [ ]:
lst

['Reddy', 'Windows', 'Web dev']

In [ ]:
lst.insert(2, 'manoj')

In [ ]:
lst

['Reddy', 'Windows', 'manoj', 'Web dev']

In [ ]:
dit = {"name":"Reddy", "age":24, "email": "reddy@gmail.com"}

In [ ]:
dit.keys()

dict_keys(['name', 'age', 'email'])

In [ ]:
dit.values()

dict_values(['Reddy', 24, 'reddy@gmail.com'])

In [ ]:
dit.get("email")

'reddy@gmail.com'

In [ ]:
dit["email"]

'reddy@gmail.com'

In [ ]:
dit["loc"] # gives error if undefined key is given

KeyError: 'loc'

In [ ]:
dit.get("loc") # get does not gives error if undefuned key is given

In [ ]:
dit.clear()

In [ ]:
dit

{}

In [ ]:
dit

{'name': 'Reddy', 'age': 24, 'email': 'reddy@gmail.com'}

In [ ]:
dit.update({"name" : "Rajasekhara Reddy"})

In [ ]:
dit

{'name': 'Rajasekhara Reddy', 'age': 24, 'email': 'reddy@gmail.com'}

# Control Flow

## Comparision Operatior

In [ ]:
# Comparision operatior

a = 10;
b = 20;
c = 10;

In [ ]:
(a == c)

True

In [ ]:
(a != b)

True

In [ ]:
(a > b)

False

In [ ]:
(a < b)

True

In [ ]:
(a <= b)

True

In [ ]:
(a>= c)

True

In [ ]:
# Logical operatiors
# AND
# OR
# NOT

In [ ]:
tf_light = 'green'
tf = 'empty'

In [ ]:
tf_light == 'green' and tf == 'empty'

True

In [ ]:
tf_light == 'red' and tf == 'empty'

False

In [ ]:
tf_light == 'green' or tf == 'empty'

True

# If Else

In [ ]:
is_hungry = "Yes"

In [ ]:
if (is_hungry == "Yes"):
  print("Order food from Zomatio")
  print("may be order chicken")
  print("Pay using Card")
else:
  print("Ignore orders")

Order food from Zomatio
may be order chicken
Pay using Card

In [ ]:
# if elif else

marks = 81

In [ ]:
if(marks > 90):
  print("A+++")
elif marks > 80:
  print("A++")
elif marks > 70:
  print('A+')
elif marks > 60:
  print('A')
else:
  print('Ok good')

A++

# If else Calculator

In [ ]:
# lets build a calculator

num1 = int(input("Enter num 1 : "))
num1

Enter num 1 : 45

45

In [ ]:
num2 = int(input("Enter num 2 : "))
num2

Enter num 2 : 55

55

In [ ]:
operation = input("enter operation (+,-,/,*) : " )
operation

enter operation (+,-,/,*) : /

'/'

In [ ]:
if operation == "-":
  print(num1 - num2)
elif operation == "+":
  print(num1 + num2)
elif operation == "*":
  print(num1 * num2)
elif operation == "/":
  print(num1 / num2)
else:
  print("Invalid input")

0.8181818181818182

# For Loop

In [ ]:
lt = ['Reddy', 'Sai', 'Ravi', 'Yadav', 'Suresh']

In [ ]:
lt

['Reddy', 'Sai', 'Ravi', 'Yadav', 'Suresh']

In [ ]:
for temp in lt:
  print(temp)

Reddy
Sai
Ravi
Yadav
Suresh

In [ ]:
for temp in lt:
  print(temp)
else:
  print("We are done with the loop !")

Reddy
Sai
Ravi
Yadav
Suresh
We are done with the loop !

In [ ]:
for temp in range(11):
  print(temp)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Table program

for i in range(1, 11):
  print('12 X ', i , ' = ', i*12)
else:
  print("Done with the table program")

12 X  1  =  12
12 X  2  =  24
12 X  3  =  36
12 X  4  =  48
12 X  5  =  60
12 X  6  =  72
12 X  7  =  84
12 X  8  =  96
12 X  9  =  108
12 X  10  =  120
Done with the table program

# While Loop

In [ ]:
# while loop

want_to_play_again = 'y';

In [ ]:
while want_to_play_again == 'y':
  want_to_play_again = input("Want to play agian (y/n): ");
else:
  print('Hey we are done with the loop')

Want to play agian (y/n): y
Want to play agian (y/n): y
Want to play agian (y/n): y
Want to play agian (y/n): n
Hey we are done with the loop

# File handling

In [ ]:
# writing to the file
fl = open('sample.txt', 'w')
fl.write("This is sample data written to the file using python")
fl.close()

In [ ]:
# reading the file
fl = open('sample.txt', 'r')
tmp = fl.read()
fl.close()
print(tmp)

This is sample data written to the file using python

In [ ]:
# add data to a file
fl = open('sample.txt', 'a')
fl.write("This is another sentence")
fl.close()

In [ ]:
# reading the file
fl = open('sample.txt', 'r')
tmp = fl.read()
fl.close()
print(tmp)

This is sample data written to the file using pythonThis is another sentence

In [ ]:
# add data to a file
fl = open('sample.txt', 'a')
fl.write(" \n \n This is another sentence")
fl.close()

In [ ]:
# reading the file
fl = open('sample.txt', 'r')
tmp = fl.read()
fl.close()
print(tmp)

This is sample data written to the file using pythonThis is another sentence

 This is another sentence

# Functions

In [ ]:
# function
def hello():
  print("Hey")

In [ ]:
hello()

Hey

In [ ]:
# function with parameters
def hello(name):
  print("Hey ! ", name)

In [ ]:
hello("Reddy")

Hey !  Reddy

In [ ]:
# function
def calculator(num1, num2, ops):
# this docstring gives when we use help(calculator)
  """
    Perform basic arithmetic operations on two numbers.

    Parameters:
    num1 (float or int): The first number.
    num2 (float or int): The second number.
    ops (str): A string representing the operation to perform.
               It should be one of the following:
               - "+" for addition
               - "-" for subtraction
               - "*" for multiplication
               - "/" for division

    Returns:
    float or int or str: The result of the arithmetic operation.
                         If the operation is invalid, it returns the string "Invalid ops".

    Raises:
    ZeroDivisionError: If `ops` is "/" and `num2` is 0, since division by zero is not allowed.

    Examples:
    >>> calculator(10, 5, "+")
    15

    >>> calculator(10, 5, "-")
    5

    >>> calculator(10, 5, "*")
    50

    >>> calculator(10, 5, "/")
    2.0

    >>> calculator(10, 0, "/")
    Traceback (most recent call last):
        ...
    ZeroDivisionError: division by zero

    >>> calculator(10, 5, "^")
    'Invalid ops'
  """
  result = 0
  if ops == "+":
    result = num1 + num2
  elif ops == "-":
    result = num1 - num2
  elif ops == "*":
    result = num1 * num2
  elif ops == "/":
    result = num1 / num2
  else:
    result = "Invalid ops"
  return result

In [ ]:
res = calculator(22, 55, '+')
print(res)

77

In [ ]:
help(calculator)

Help on function calculator in module __main__:

calculator(num1, num2, ops)
    Perform basic arithmetic operations on two numbers.

    Parameters:
    num1 (float or int): The first number.
    num2 (float or int): The second number.
    ops (str): A string representing the operation to perform.
               It should be one of the following:
               - "+" for addition
               - "-" for subtraction
               - "*" for multiplication
               - "/" for division

    Returns:
    float or int or str: The result of the arithmetic operation.
                         If the operation is invalid, it returns the string "Invalid ops".

    Raises:
    ZeroDivisionError: If `ops` is "/" and `num2` is 0, since division by zero is not allowed.

    Examples:
    >>> calculator(10, 5, "+")
    15

    >>> calculator(10, 5, "-")
    5

    >>> calculator(10, 5, "*")
    50

    >>> calculator(10, 5, "/")
    2.0

    >>> calculator(10, 0, "/")
    Traceback (most recent call last):
        ...
    ZeroDivisionError: division by zero

    >>> calculator(10, 5, "^")
    'Invalid ops'

In [ ]:
# using infinite parameters in a function using *args
def sum_of_all(*args):
  sum = 0
  for i in args:
    # print(i)
    sum = sum + i
  return sum

In [ ]:
total = sum_of_all(1,2,3,4,5,6,7,8,9)
print(total)

45

In [ ]:
def human_data(*args):
  print('name  :  ', args[0] )
  print('age  :  ', args[1] )
  print('email  :  ', args[2] )

In [ ]:
human_data("reddy@gmail.com", 24, "Reddy")

name  :   reddy@gmail.com
age  :   24
email  :   Reddy

In [ ]:
def human_data(**kwargs):
  print('name  :  ', kwargs.get('name'))
  print('age  :  ', kwargs.get('age'))
  print('email  :  ', kwargs.get('email'))

In [ ]:
human_data(email='reddy@gmail.com', name='reddy', age=24, location='hyd')

name  :   reddy
age  :   24
email  :   reddy@gmail.com

In [ ]:
def human_data(**kwargs):
  for i in kwargs.keys():
    print(i, " : ", kwargs.get(i))

In [ ]:
human_data(email='reddy@gmail.com', name='reddy', age=24, location='hyd')

email  :  reddy@gmail.com
name  :  reddy
age  :  24
location  :  hyd

## Error handling

In [ ]:
1/0

ZeroDivisionError: division by zero

In [ ]:
# error handling
try:
  1/1
except:
  print("There is a error")
finally:
  print("Finally: even there is a error or no error this will run")

Finally: even there is a error or no error this will run

In [ ]:
# error handling and knowing exception
try:
  1/0
except Exception as e:
  print("Error!!! : ",e)
finally:
   print("Done with the code")

Error!!! :  division by zero
Done with the code